<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- base drive mode -->
  <xacro:property name="front_drive" value="true"/>

  <!-- simplified body -->
  <xacro:property name="body_width"              value="0.2800"/>
  <xacro:property name="body_height"             value="0.0400"/>
  <xacro:property name="body_length"             value="0.4200"/>
  <xacro:property name="body_mass"               value="0.4000"/> <!-- khm..., was 1kg -->

  <!-- battery -->
  <xacro:property name="battery_width"           value="0.0800"/>
  <xacro:property name="battery_height"          value="0.0620"/>
  <xacro:property name="battery_length"          value="0.1200"/>
  <xacro:property name="battery_mass"            value="0.7630"/>
  <xacro:property name="battery_holder_width"    value="0.0800"/>
  <xacro:property name="battery_holder_height"   value="0.0220"/>
  <xacro:property name="battery_holder_length"   value="0.1600"/>
  <xacro:property name="battery_holder_mass"     value="0.2330"/>

  <!-- caster suspension system -->
  <xacro:property name="axle_bridge_height"      value="0.0340"/>
  <xacro:property name="axle_bridge_width"       value="0.0400"/>
  <xacro:property name="axle_bridge_depth"       value="0.0400"/>
  <xacro:property name="axle_bridge_mass"        value="0.0450"/>
  <xacro:property name="caster_track_width"      value="0.2000"/>
  <xacro:property name="caster_height_trimmer"   value="0.0050"/>
  <xacro:property name="pivoting_axle_length"    value="0.2300"/>
  <xacro:property name="pivoting_axle_depth"     value="0.0300"/>
  <xacro:property name="pivoting_axle_height"    value="0.0200"/>
  <xacro:property name="pivoting_axle_mass"      value="0.1270"/>

  <!-- drive block suspension panel -->
  <xacro:property name="motor_suspension_width"  value="0.0600"/>
  <xacro:property name="motor_suspension_height" value="0.1050"/>
  <xacro:property name="motor_suspension_depth"  value="0.0030"/>
  <xacro:property name="motor_suspension_mass"   value="0.0400"/>

  <!-- drive block definitions -->
  <xacro:property name="motor_gearbox_depth"     value="0.0288"/>
  <xacro:property name="motor_gearbox_length"    value="0.1150"/>
  <xacro:property name="motor_gearbox_height"    value="0.0400"/>
  <xacro:property name="motor_gearbox_mass"      value="0.3640"/>

  <!-- tire definitions -->
  <xacro:property name="drive_wheel_radius"  value="0.0550"/>
  <xacro:property name="drive_wheel_width"   value="0.0450"/>
  <xacro:property name="drive_wheel_mass"    value="0.1420"/>

  <xacro:property name="caster_wheel_radius" value="0.0420"/>
  <xacro:property name="caster_wheel_width"  value="0.0400"/>
  <xacro:property name="caster_wheel_mass"   value="0.0620"/>
  <xacro:property name="caster_axle_mass"    value="0.0610"/>

  <xacro:property name="axle_friction"       value="0.00"/>
  <xacro:property name="axle_damping"        value="0.00"/>

  <xacro:macro name="drive_wheel_geometry">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <cylinder radius="${drive_wheel_radius}" length="${drive_wheel_width}"/>
    </geometry>
  </xacro:macro>

  <xacro:macro name="caster_wheel_geometry">
    <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
    <geometry>
      <cylinder radius="${caster_wheel_radius}" length="${caster_wheel_width}"/>
    </geometry>
  </xacro:macro>

  <!-- base profile definitions -->
  <xacro:property name="long_profile_length"  value="0.3600"/>
  <xacro:property name="short_profile_length" value="0.2000"/>
  <xacro:property name="profile_width"        value="0.0400"/>
  <xacro:property name="profile_height"       value="0.0200"/>
  <xacro:property name="profile_spec_mass"    value="0.8900"/> <!-- kg / m -->
  <xacro:property name="short_profile_mass"   value="${short_profile_length*profile_spec_mass}"/>
  <xacro:property name="long_profile_mass"    value="${long_profile_length*profile_spec_mass}"/>

  <xacro:macro name="short_profile_geometry">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="${profile_width} ${short_profile_length} ${profile_height}"/>
    </geometry>
  </xacro:macro>

  <xacro:macro name="long_profile_geometry">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="${profile_width} ${long_profile_length} ${profile_height}"/>
    </geometry>
  </xacro:macro>

</robot>
