<launch>
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
    <param name="port" value="/dev/ttyUSB0"/>
		<param name="baud" value="921600"/>

    <param name="load_default_params" value="true"/> <!-- Tortuga 2WD with Sabertooth 2x32 -->

<!--
		<param name="left_wheel_kp"     value="0.10"/>
		<param name="left_wheel_ki"     value="0.25"/>
		<param name="left_wheel_kd"     value="0.20"/>
		<param name="right_wheel_kp"    value="0.10"/>
		<param name="right_wheel_ki"    value="0.25"/>
		<param name="right_wheel_kd"    value="0.20"/>
		<param name="track_width"       value="0.255"/>
		<param name="wheel_radius"      value="0.055"/>
		<param name="encoder_ppr"       value="11.0"/>
		<param name="gearbox_ratio"     value="72.0"/>
		<param name="publish_odometry"  value="true"/>
    <param name="imu_frame"         value="imu_link"/>
    <param name="odom_frame"        value="odom"/>
    <param name="base_frame"        value="base_footprint"/>
 -->

	</node>
</launch>
